@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;

}

.container{
    width: 100vw;
    height: 100vh;
    background:linear-gradient(90deg,#c7dbff,#008b80);
}
.table{
    margin-top:2rem;
}