@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Balinese&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans Balinese', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--sl-color-primary-50);
  background-size: cover;
  background-position: center;
}
.container{
  margin-top:12px;
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
 
        
}