
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-image: url("./background.png");
  background-size: cover;
  background-position: center;
}
.container{
  margin-top:12px;
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
 
        
}
h1{
  
  text-decoration:underline;
  
}

