
  @import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Tilt Neon', cursive;
}
.container{
  background-color: #ececec;
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#heading{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  color: black ;
  text-shadow: 0 0 2px black;
}